<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        #chartdiv {
            width: 100%;
            height: 100vh;
            overflow: scroll;
        }
    </style>
    <!-- Resources -->
    {#    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>#}
    {#    <script src="https://cdn.amcharts.com/lib/5/hierarchy.js"></script>#}
    {#    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>#}

    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/plugins/forceDirected.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <title>Molecule Prediction</title>


</head>
<body>


<aside id="sidebar-multi-level-sidebar overflow-scroll"
       class="fixed top-0 left-0 z-40 w-48 h-screen transition-transform -translate-x-full sm:translate-x-0"
       aria-label="Sidebar">
    <div class="h-full px-2 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
        <div class="row">
            <div class="col-md-1">
                {% for key,val in formatted_data.items %}
                    <label class="relative inline-flex items-center mb-5 cursor-pointer">
                        <input type="checkbox" value="" id="{{ key }}" class="sr-only peer"
                               onchange="toggleFunction(this)" unchecked>
                        <div class="w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">{{ key }}</span>
                    </label>
                {% endfor %}
            </div>
        </div>
    </div>
</aside>

<div class="p-2 sm:ml-64 overflow-scroll ">
    <div class="p-2 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 ">
        <div id="chartdiv"></div>
    </div>
</div>


<script>

    var formatted_data={{ formatted_data|safe }}

    function update_graph(for_graph) {
        am4core.ready(function () {

// Themes begin
            am4core.useTheme(am4themes_animated);
// Themes end

            var chart = am4core.create("chartdiv", am4plugins_forceDirected.ForceDirectedTree);

            var networkSeries = chart.series.push(new am4plugins_forceDirected.ForceDirectedSeries())
            networkSeries.dataFields.linkWith = "linkWith";
            networkSeries.dataFields.name = "name";
            networkSeries.dataFields.id = "name";
            networkSeries.dataFields.value = "value";
            networkSeries.dataFields.children = "children";

            networkSeries.nodes.template.label.text = "{name}"
            networkSeries.fontSize = 8;
            networkSeries.linkWithStrength = 0;



            var nodeTemplate = networkSeries.nodes.template;
            nodeTemplate.tooltipText = "{name}";
            nodeTemplate.fillOpacity = 1;
            nodeTemplate.label.hideOversized = true;
            nodeTemplate.label.truncate = true;

            var linkTemplate = networkSeries.links.template;
            linkTemplate.strokeWidth = 1;
            var linkHoverState = linkTemplate.states.create("hover");
            linkHoverState.properties.strokeOpacity = 1;
            linkHoverState.properties.strokeWidth = 2;

            nodeTemplate.events.on("over", function (event) {
                var dataItem = event.target.dataItem;
                dataItem.childLinks.each(function (link) {
                    link.isHover = true;
                })
            })

            nodeTemplate.events.on("out", function (event) {
                var dataItem = event.target.dataItem;
                dataItem.childLinks.each(function (link) {
                    link.isHover = false;
                })
            })

            networkSeries.data = for_graph;

        }); // end am4core.ready()
    }

    for_graph=[]

    function toggleFunction(checkbox) {
        // Get the state of the checkbox (true if checked, false if unchecked)
        var state = checkbox.checked;

        // Find the index of the child in the data.children array
        var childIndex = for_graph.findIndex(function (child) {
            return child.name === checkbox.id;
        });

        if (state && childIndex === -1) {
            // Add the child if it doesn't exist
            for_graph.push(formatted_data[checkbox.id]);
        } else if (!state && childIndex !== -1) {
            // Remove the child if it exists
            for_graph.splice(childIndex, 1);
        }

        // Update the graph data
        update_graph(for_graph);
    }
</script>


</body>
</html>
